#### Soru 1:
+ Bir banka müşterilerine ait 3 milyon telefon numarası verisini bir text dosyasında veriyor ve bizden telefonların sabit hat mı, cep telefonu hattı mı olduğunu, sabit hat ise hangi şehre ait olduğunu bulmamızı istiyor. Görevin yerine getirilmesi için nasıl bir yol izlersiniz?

In [2]:
import pandas as pd
pd.set_option('display.max_rows', None)
from warnings import filterwarnings
filterwarnings('ignore')

In [3]:
def clean_phone_number(data = "Musteri_No.txt", phone_column="TELEFON"):
    df = pd.read_csv(data)
    df[phone_column] = df[phone_column].str.replace(" ","")
    df[phone_column] = df[phone_column].str.lstrip("0|+90")
    df = df[df[phone_column].str.len()==10].reset_index(drop=True)
    df["ALAN_KODU"] = df["TELEFON"].str[:3]

    return df

df = clean_phone_number()

def alan_kodu_ekle(data=df, alan_kodlari_location="alan_kodlari.xlsx"):
    
    alan_kodlari_df = pd.read_excel(alan_kodlari_location)
    alan_kodlari_df["Kod"] = alan_kodlari_df["Kod"].astype(str)

    alan_kodu_list = []
    for i in data["ALAN_KODU"]:
        if i[:1] == "5":
            alan_kodu_list.append("kisisel_cep")
        elif i in alan_kodlari_df["Kod"].values:
            alan_kodu_list.append(alan_kodlari_df[alan_kodlari_df["Kod"] == i]["Şehir"].values[0])
        else:
            alan_kodu_list.append("bilinmeyen")

    return alan_kodu_list

df["ALAN_KODU_SEHIR_EKLENMIS"] = alan_kodu_ekle()
df=df[~(df["ALAN_KODU_SEHIR_EKLENMIS"] == "bilinmeyen")].reset_index(drop=True)
df

    MUSTERI_NO     TELEFON ALAN_KODU ALAN_KODU_SEHIR_EKLENMIS
0            1  5333371000       533              kisisel_cep
1            2  5354321938       535              kisisel_cep
2            4  2125121278       212          İstanbul Avrupa
3            5  3122441245       312                   Ankara
4            6  2164414512       216          İstanbul Anadou
5            7  5353415643       535              kisisel_cep
6            8  5422388080       542              kisisel_cep
7           10  3121111111       312                   Ankara
8           11  5433379131       543              kisisel_cep
9           12  2724155658       272                    Afyon
10          13  3122441247       312                   Ankara
11          14  3122441248       312                   Ankara
12          15  5444321939       544              kisisel_cep
13          16  2164177175       216          İstanbul Anadou